@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,800|Roboto:300,400,500');

//breakpoints
$screen-xs: 640px;
$screen-s: 767.5px;
$screen-m: 992px;
$screen-l: 1199.5px;

//colors
$primary-color: #18ADB3;

$text-color:    #3A3A3A;
$title-color:   #000;

// Spaces
$margin-xs: 20px;
$margin-s : 30px;
$margin-m : 45px;
$margin-l : 60px;
$margin-xl: 80px;


html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  background: url('../images/background-img.jpg') fixed top center repeat-x #000;
  background-size: contain;
  font-size: 1.4rem;
  line-height: 1.6;
  color: $text-color;
  padding: 0;
  margin: 0;

}
* {
  box-sizing: border-box;
}


// FONTS
//
//
*[class^="title-"] {
  font-family: 'Poppins', sans-serif;
  color: $title-color;
}
// H1
.title-h1 {
  font-size: 4.4rem;
  font-weight: 600;
  letter-spacing: -.1rem;
  line-height: 1;
  margin-bottom: $margin-xs;

  // mobile
  @media screen and (max-width: $screen-l) {    
    font-size: 3.4rem;
  }

  span {    
    font-weight: 300;
    padding-left: 6px;
  }
  
}
.title-h2 {
  font-size: 2.2rem;
  line-height: 1.45;
  font-weight: 300;
  // Desktop
  @media screen and (max-width: $screen-l) {
    font-size: 1.8rem;
  }
}

// Alignments 
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }

p {
  &:not(:last-of-type):not([class^="margin-"]) {
    margin: 0 0 1.5rem;
  }
}
//

// COLORS
//
.is-primary { color: $primary-color; }

// FLEXBOX
//
//
.flexbox {
  display: flex;

  // with icon
  > i {
    padding-right: 10px;
  } 
}

.align-items-flex-start { align-items: flex-start; }
.align-items-flex-end   { align-items: flex-end; }
.align-items-center     { align-items: center; }

.justify-content-center { justify-content: center; }

// SPACES
//
//
.margin-xs { margin-bottom: $margin-xs; }
.margin-s  { margin-bottom: $margin-s; }
.margin-m  { margin-bottom: $margin-m; }
.margin-l  { margin-bottom: $margin-l; }
.margin-xl { margin-bottom: $margin-xl; }








// CONTENT's SECTIONS

// Global container
//
.global-container {
  max-width: 1600px;
  width: 92%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

// Header + Main //
.header-container,
.main-container {
  border-radius: 4px;
  margin-top: 30px;
  // Desktop
  @media screen and (min-width: $screen-l) {    
    margin-top: 45px;
  }

  > .row {
    padding: 45px 8%;
    // Desktop
    @media screen and (min-width: $screen-l) {      
      padding: 8%;
    }
  }

  // mobile 
  @media screen and (max-width: $screen-l) {
    width: 100%!important;
  }
}


// Header
//
.header-container {
  width: 32%;
  background-color: rgba(0,0,0,.35);
  color: #fff;
  position: -webkit-sticky; 
  position: sticky; 
  top: 0;
  min-height: 200px;
  height: auto;

  > .row {
    @media screen and (min-width: $screen-xs) {
      padding: min(4vw, 16%);
    }
  }

  .resume {
    text-align: center;
    margin-bottom: $margin-l;

    > * {
      color: #fff!important;
    }

    // desktop
    @media screen and (min-width: $screen-l) {
      text-align: right;
    }
  }

  .global-skills {
    p:not(:last-of-type) {
      margin-bottom: $margin-s;
    }
  }
}

// Main
//
.main-container {
  width: 65%;  
  min-height: 1000px;
  background-color: #fff;
}

