@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,800|Roboto:300,400,500');

$screen-s: 640px;
$screen-xs: 767.5px;
$screen-m: 992px;
$screen-l: 1199.5px;


html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  background: url('../images/background-img.jpg') repeat-x center top #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-size: auto;
  padding: 0;
  margin: 0;

}
* {
  box-sizing: border-box;
}



/* MAIN CONTAINER */
.main-container {
  max-width: 1600px;
  width: 92%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}




/* Aside */
.aside-container {
  width: 33%;
  background-color: rgba(0,0,0,.4);
  color: #fff;
}

/* Section */
.section-container {
  width: 65%;  
  background-color: #fff;
}

/* Aside + Section */
.aside-container,
.section-container {
  border-radius: 4px;

  > .row {
    padding: 8%;
    border: 1px solid red;
  }

  // mobile 
  @media screen and (max-width: $screen-l) {
    width: 100%;
  }
}


// FONTS
//
//
*[class^="title-"] {
  font-family: 'Poppins', sans-serif;
}
.title-h1 {
  font-size: 5.0rem;
  font-weight: 600;
  letter-spacing: -.15rem;
  line-height: 1;

  span {    
    font-weight: 300;
  }
}
.title-h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

// Alignments 
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }
//