@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,800|Roboto:300,400,500');

$screen-s: 640px;
$screen-xs: 767.5px;
$screen-m: 992px;
$screen-l: 1199.5px;


html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  background: url('../images/background-img.jpg') fixed top center #000;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;

}
* {
  box-sizing: border-box;
}



/* MAIN CONTAINER */
.global-container {
  max-width: 1600px;
  width: 92%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}




/* Header */
.header-container {
  width: 33%;
  background-color: rgba(0,0,0,.35);
  color: #fff;

  .resume {
    text-align: center;

    // desktop
    @media screen and (min-width: $screen-l) {
      text-align: right;
    }
  }
}

/* Section */
.main-container {
  width: 65%;  
  background-color: #fff;
}

/* Header + Main */
.header-container,
.main-container {
  border-radius: 4px;
  margin-top: 30px;

  // Desktop
  @media screen and (min-width: $screen-l) {    
    margin-top: 45px;
  }

  > .row {
    padding: 45px 8%;
    //border: 1px solid red;

    // Desktop
    @media screen and (min-width: $screen-l) {      
      padding: 8%;
    }
  }

  // mobile 
  @media screen and (max-width: $screen-l) {
    width: 100%;
  }
}


// FONTS
//
//
*[class^="title-"] {
  font-family: 'Poppins', sans-serif;
}
// H1
.title-h1 {
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: -.1rem;
  line-height: 1;
  // Desktop
  @media screen and (min-width: $screen-l) {    
    font-size: 4.8rem;
  }

  span {    
    font-weight: 300;
    padding-left: 6px;
  }
  
}
.title-h2 {
  font-size: 2.0rem;
  line-height: 1.5;
  font-weight: 300;
  // Desktop
  @media screen and (min-width: $screen-l) {
    font-size: 2.4rem;
  }
}

// Alignments 
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }

p {
  margin: 0 0 1rem 0;
}
//